#Main {
    display: flex;
    flex-direction: column;
}

#Controls {
    display: flex;
    justify-content: space-evenly;
}

#Columns {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#Filters {
    width: 50%;
}

#Sort {
    width: 25%;
}

.AllColumnControlLabel {
    font-weight: bold;
}

.ColumnControl {
    display: flex;
    justify-content: space-between;
}

.ControlList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    height: 120px;
}

#ColumnList {
    align-items: stretch;
}

.ItemValue {
    height: 4em;
    overflow-y: auto;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

table {
    text-align: left;
    position: relative;
}

td, th {
    padding: 0.5rem;
}

th {
    background: white;
    position: sticky;
    top: 0;
}

tbody tr:nth-child(odd) {
    background: #eee;
}


